PORT=8080
UUID=

ADMIN_USER=admin
ADMIN_PASSWORD=

DOMAIN=

WS_PATH=
XHTTP_PATH=
HU_PATH=
VMESS_PATH=
TROJAN_PATH=

SECRET=

TCP_HOST=
TCP_PORT=
TCP_APP_PORT=9000
REALITY_PRIVATE_KEY=
REALITY_SHORT_ID=

DATA_DIR=/data
